{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            Сортировать по:
            <a href="?sort=name">
                <span style='padding-left:20px;padding-right:20px'>названию</span>
            </a>
            <a href="?sort=min_price">
                <span style='padding-left:20px;padding-right:20px'>начиная с дешевых</span>
            </a>
            <a href="?sort=max_price">
                <span style='padding-left:20px;padding-right:20px'>начиная с дорогих</span>
            </a>
        </div>

        <div class="content">
            {% include 'phones.html' %}
        </div>
    </div>
{% endblock %}