{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Сравнение телефонов</h1>
        </div>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    {% for header in phone_headers %}
                        <td>
                            <strong>{{ header }}</strong>
                        </td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for phone in phones %}
                    <tr>
                        {% for item in phone.values %}
                            <td>
                                {% if item %}
                                    {{ item }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}